<html>
<head>
<title>ISPA form demo using Javascript and Flask</title>
<script>
function allnumeric(inputtxt)
   {
      var numbers = /^[0-9]+$/;
      if(inputtxt.value.match(numbers))
      {
      alert('Valid input as numbers');
    
      return true;
      }
      else
      {
      alert('Please input positive integers only');
      
      return false;
      }
   } 

</script>

</head>
<body>
<h1> Add positive integers example using Python-Flask,HTML and Javascript for ISPA Lab. </h1>
<form name="add" method="POST">
    <input name="num1" type="text" placeholder="Enter only positive integers" onchange="allnumeric(document.add.num1)">
    <input name="num2" type="text" placeholder="Enter only positive integers" onchange="allnumeric(document.add.num2)">
   

    <input type="submit" value="Add" >
</form></body>
</html>