USE [master]
GO
/****** Object:  Database [ISPA_test3]    Script Date: 7/12/2021 10:19:52 PM ******/
CREATE DATABASE [ISPA_test3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISPA_test3', FILENAME = N'E:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ISPA_test3.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ISPA_test3_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ISPA_test3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ISPA_test3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ISPA_test3]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 7/12/2021 10:19:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[courses](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[coursename] [varchar](50) NULL,
	[teacher] [varchar](50) NULL,
	[course_id] [varchar](50) NULL,
	[weeks] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
